@font-face {
    font-family: Lato;
    src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
}

@font-face {
    font-family: Indie;
    src: url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
}