.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    font-family: cursive;
    width: 100%;
    .main-logo {
        color: $clr1;
        font-size: 25px;
        &.router-link-exact-active {
            color: #1db954;
        }
        &:hover {
            filter: brightness(85%);
        }
    }
    a {
        transition: .3s;
        font-weight: bold;
        color: $clr2;
        font-size: 20px;
        &.router-link-exact-active {
            color: #1db954;
        }
        &:hover {
            color: #1db954;
        }
    }
    h1 {
        font-size: 30px;
    }
}

.view-router {
    overflow: auto;
    border: 1px solid black;
}