.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
    width: 100%;
    .main-logo {
        color: $clr1;
        font-size: 25px;
        &.router-link-exact-active {
            color: #1db954;
        }
        &:hover {
            filter: brightness(85%);
        }
    }
    a {
        transition: .3s;
        font-weight: bold;
        color: $clr2;
        font-size: 20px;
        &.router-link-exact-active {
            color: #1db954;
        }
        &:hover {
            color: #1db954;
        }
    }
    h1 {
        font-size: 30px;
    }
}

.view-router {
    overflow: auto;
    background-color: $clr4;
    box-shadow: inset 0px 0px 20px 5px black;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    border: 1px solid black;
}

.player-container {
    grid-column: 2/3;
}