    .details-container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-rows: 50% 1fr;
        background-color: $clr4;
        .station-details {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 73% 27%;
            width: 100%;
            height: 100%;
            .station-img {
                padding: 5px;
                img {
                    border: 1px solid white;
                    border-radius: 50%;
                    width: 180px;
                    height: 180px;
                    object-fit: cover;
                }
            }
            .station-desc {
                align-items: flex-start;
                justify-content: space-between;
                grid-column: 2;
                grid-row: 1;
                width: 100%;
                height: 100%;
                h1 {
                    color: $clr1;
                }
                .menu-container {
                    margin: 0;
                    cursor: pointer;
                    transition: .3s;
                    .station-menu-delete {
                        display: none;
                        font-size: 35px;
                        margin: 0px 10px 0 0;
                        color: red;
                    }
                    &:hover {
                        .station-menu-delete {
                            display: block;
                        }
                        .station-menu {
                            display: none;
                        }
                    }
                    .station-menu {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 35px;
                        transition: .3s;
                        height: 37px;
                        width: 27px;
                        border-radius: 50%;
                        margin: 5px 10px 0 0;
                    }
                }
            }
            .station-play-like {
                width: 100%;
                height: 100%;
                grid-column: 1;
                grid-row: 2;
                transition: .3s;
                >* {
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                    margin: 1em;
                    border-radius: 50%;
                    transition: .4s;
                }
                 :first-child {
                    &:hover {
                        color: $clr1;
                    }
                }
                 :nth-child(2) {
                     :first-child {
                        &:hover {
                            color: $clr1;
                        }
                    }
                    &:hover {
                        color: $clr1;
                    }
                }
                 :nth-child(3) {
                    &:hover {
                        color: red;
                    }
                     :first-child {
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
            .search-songs-container {
                justify-content: flex-start;
                height: 100%;
                .search-icon {
                    width: 25px;
                    height: 25px;
                    margin-right: 30px;
                    cursor: pointer;
                    &:hover {
                        color: $clr1;
                    }
                }
                .search-songs {
                    width: 100%;
                    form {
                        width: 100%;
                        input {
                            width: 97.8%;
                        }
                    }
                }
            }
        }
        .chat-room {
            background-image: url('https://bluebeat.herokuapp.com/img/chat-background.72ed0661.jpg?__WB_REVISION__=72ed06611cd7ac4d2979e3ed32ac598a');
            grid-column: 2;
            grid-row: 1/3;
            color: $clr1;
        }
        h1 {
            margin-top: 1em;
            font-size: 30px;
        }
    }
    
    .songs-container {
        justify-content: space-between;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        >* {
            width: 100%;
            height: 100%;
        }
        .station-songs-container {
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            grid-column: 1;
            grid-row: 2;
            justify-content: flex-start;
             :nth-child(2) {
                form {
                    button {
                        height: 61px;
                        width: 61px;
                    }
                }
            }
            button {
                padding: 10px;
                margin: 0;
            }
            ul {
                margin: 10px;
                li {
                    display: flex;
                    margin: 5px;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 20px;
                    color: $clr1;
                    cursor: pointer;
                    background-color: $clr3;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    font-size: 17px;
                    transition: .3s;
                    height: 50px;
                    .delete-song {
                        display: none;
                        margin: 0;
                        background-color: rgba(0, 0, 0, 0);
                        border: none;
                        font-size: 20px;
                    }
                    &:hover {
                        border: 1px solid rgba(255, 255, 255, 1);
                        filter: brightness(85%);
                        .delete-song {
                            display: block;
                        }
                    }
                }
            }
        }
        .songs-result-container {
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            margin: 0;
            width: 530px;
            height: 592px;
            max-width: 0;
            transition: max-width 1s;
            position: absolute;
            right: 0;
            top: 60px;
            background-color: $clr3;
            transform: translateX(-4%);
            &::-webkit-scrollbar {
                display: none;
            }
            button {
                padding: 10px;
                margin: 0;
            }
            ul {
                margin-top: 11px;
                li {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 99%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 50px;
                    padding: 5px 10px;
                    margin: 5px;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    transition: .3s;
                    transition: max-width 1s;
                    cursor: pointer;
                    .add-song {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 17px;
                        height: 17px;
                        background-color: inherit;
                        transition: .3s;
                    }
                    &:hover {
                        filter: brightness(85%);
                        color: $clr1;
                        border: 1px solid white;
                        .add-song {
                            transform: rotate(180deg)
                        }
                    }
                }
            }
        }
    }