.explore-sub-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ul {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(auto, 1fr);
            li {
                border: 1px solid black;
                padding: 2em;
                margin: 1em;
            }
        }
    }
}