.player-container {
    height: 100%;
    grid-row: 3/4;
}

.song-player {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    width: 100%;
    background-color: inherit;
    .song-video {
        display: none;
    }
    .song-image {
        grid-column: 1/2;
        img {
            width: 80px;
        }
    }
    .playing-now {
        grid-column: 2/3;
        width: 340px;
        height: 100%;
        justify-content: start;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .duration-song {
        grid-column: 3/4;
    }
    .playing-btns {
        grid-column: 4/5;
        >* {
            cursor: pointer;
            width: 25px;
            height: 25px;
            margin: 15px;
            transition: 0.3s;
            &:hover {
                color: $clr1;
            }
        }
        :nth-child(2) {
            width: 30px;
            height: 30px;
        }
    }
    input[type="range"] {
        width: 100%;
        cursor: pointer;
    }
    .music-btns {
        grid-column: 5/6;
        .volume-range-container {
            width: 130px;
        }
        svg {
            cursor: pointer;
            margin: 15px;
            width: 25px;
            height: 25px;
            margin: 10px;
            transition: 0.3s;
            &:hover {
                color: $clr1;
            }
        }
    }
}
