.station-song {
    .station-card-container {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        padding: 5px;
    }
}

.explore-sub-container {
    .explore-header {
        margin-top: 1em;
        h1 {
            font-size: 30px;
        }
    }
}