.station-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 300px);
    gap: 25px;
    .list-empty {
        grid-column: 2/5;
        text-align: center;
        color: rgb(151, 151, 151);
    }
}